USE [master]
GO
/****** Object:  Database [Ofps]    Script Date: 2024/8/4 13:17:57 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'Ofps')
BEGIN
CREATE DATABASE [Ofps]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ofps', FILENAME = N'/var/opt/mssql/data/Ofps.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ofps_log', FILENAME = N'/var/opt/mssql/data/Ofps_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ofps].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ofps]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2024/8/4 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__EFMigrationsHistory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[FileInfos]    Script Date: 2024/8/4 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FileInfos]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FileInfos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](2048) NOT NULL,
	[LocalPath] [nvarchar](max) NOT NULL,
	[Size] [decimal](20, 0) NOT NULL,
	[CreateTime] [datetime2](7) NOT NULL,
	[FileType] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_FileInfos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Videos]    Script Date: 2024/8/4 13:17:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Videos]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Videos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VideoName] [nvarchar](max) NOT NULL,
	[Channel] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[Year] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Language] [nvarchar](max) NULL,
	[Intro] [nvarchar](max) NULL,
	[CreateTime] [datetime2](7) NOT NULL,
	[FileInfoId] [int] NOT NULL,
 CONSTRAINT [PK_Videos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240710111340_action1', N'8.0.6')
GO
SET IDENTITY_INSERT [dbo].[FileInfos] ON 
INSERT [dbo].[FileInfos] ([Id], [Name], [LocalPath], [Size], [CreateTime], [FileType]) VALUES (1, N'1Armitage III Poly-Matrix (1997).mp4', N'/data/uploads/1Armitage III Poly-Matrix (1997).mp4', CAST(66585458 AS Decimal(20, 0)), CAST(N'2024-08-04T00:29:11' AS DateTime2), N'video/mp4')
INSERT [dbo].[FileInfos] ([Id], [Name], [LocalPath], [Size], [CreateTime], [FileType]) VALUES (2, N'2Armitage III Poly-Matrix (1997).mp4', N'/data/uploads/2Armitage III Poly-Matrix (1997).mp4', CAST(66685458 AS Decimal(20, 0)), CAST(N'2024-08-04T00:38:11' AS DateTime2), N'video/mp4')
INSERT [dbo].[FileInfos] ([Id], [Name], [LocalPath], [Size], [CreateTime], [FileType]) VALUES (3, N'3Armitage III Poly-Matrix (1997).mp4', N'/data/uploads/3Armitage III Poly-Matrix (1997).mp4', CAST(66785458 AS Decimal(20, 0)), CAST(N'2024-08-04T00:12:4' AS DateTime2), N'video/mp4')

SET IDENTITY_INSERT [dbo].[FileInfos] OFF
GO
SET IDENTITY_INSERT [dbo].[Videos] ON 

SET IDENTITY_INSERT [dbo].[Videos] OFF
GO
/****** Object:  Index [IX_Videos_FileInfoId]    Script Date: 2024/8/4 13:17:57 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Videos]') AND name = N'IX_Videos_FileInfoId')
CREATE NONCLUSTERED INDEX [IX_Videos_FileInfoId] ON [dbo].[Videos]
(
	[FileInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Videos_FileInfos_FileInfoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Videos]'))
ALTER TABLE [dbo].[Videos]  WITH CHECK ADD  CONSTRAINT [FK_Videos_FileInfos_FileInfoId] FOREIGN KEY([FileInfoId])
REFERENCES [dbo].[FileInfos] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Videos_FileInfos_FileInfoId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Videos]'))
ALTER TABLE [dbo].[Videos] CHECK CONSTRAINT [FK_Videos_FileInfos_FileInfoId]
GO
USE [master]
GO
